
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #d11010; /* blue-700 */
  --secondary: #e11d48; /* red-600 */
  --text-heading: #1f2937; /* gray-800 */
  --text-subheading: #374151; /* gray-700 */
  --text-body: #6b7280; /* gray-500 */
  --accent: #3b82f6; /* blue-500 */
}

body {
  @apply bg-white text-[var(--text-body)];
}

h1, h2, h3, h4 {
  @apply text-[var(--text-heading)];
}

.text-primary {
  color: var(--primary);
}

.bg-primary {
  background-color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.bg-secondary {
  background-color: var(--secondary);
}
